menu "U-Boot as Coreboot payload"
	depends on VENDOR_COREBOOT

config SYS_COREBOOT
	bool
	default y
	imply SYS_NS16550
	imply SCSI
	imply SCSI_AHCI
	imply AHCI_PCI
	imply MMC
	imply MMC_PCI
	imply MMC_SDHCI
	imply MMC_SDHCI_SDMA
	imply USB
	imply USB_EHCI_HCD
	imply USB_XHCI_HCD
	imply USB_STORAGE
	imply USB_KEYBOARD
	imply VIDEO_COREBOOT
	imply E1000
	imply ETH_DESIGNWARE
	imply PCH_GBE
	imply RTL8169
	imply CMD_CBFS
	imply FS_CBFS
	imply CBMEM_CONSOLE
	imply X86_TSC_READ_BASE
	imply USE_PREBOOT
	select BINMAN if X86_RUN_64BIT
	select SYSINFO
	imply SYSINFO_EXTRA

config COREBOOT_SYSINFO
	bool "Support reading coreboot sysinfo"
	default y if SYS_COREBOOT
	help
	  Select this option to read the coreboot sysinfo table on start-up,
	  if present. This is written by coreboot before it exits and provides
	  various pieces of information about the running system, including
	  display, memory and build information. It is stored in
	  struct sysinfo_t after parsing by get_coreboot_info().

config SPL_COREBOOT_SYSINFO
	bool "Support reading coreboot sysinfo"
	depends on SPL
	default y if COREBOOT_SYSINFO
	help
	  Select this option to read the coreboot sysinfo table in SPL,
	  if present. This is written by coreboot before it exits and provides
	  various pieces of information about the running system, including
	  display, memory and build information. It is stored in
	  struct sysinfo_t after parsing by get_coreboot_info().

endmenu
